<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Toolbox.My.MySettings>
            <setting name="MySQLCnnToolbox" serializeAs="String">
                <value>server=BEGSERVER;database=toolbox;User Id=root;password=B3gCorP@;AllowUserVariables=True;</value>
            </setting>
            <setting name="MySQLCnnPedidos" serializeAs="String">
                <value>server=BEGSERVER;database=begcom_pedidos;User Id=root;password=B3gCorP@;AllowUserVariables=True;</value>
            </setting>
            <setting name="MySQLCnnFuerza" serializeAs="String">
                <value>server=BEGSERVER;database=begcom_fuerza;User Id=root;password=B3gCorP@;AllowUserVariables=True;</value>
            </setting>
            <setting name="SQLCnnCorp" serializeAs="String">
                <value>Data Source=BEGSERVER\MSSQL2K12;Initial Catalog=BEG_A;Integrated Security=True</value>
            </setting>
            <setting name="SQLCnnSusp" serializeAs="String">
                <value>Data Source=BEGSERVER\MSSQL2K12;Initial Catalog=SUSP_A;Integrated Security=True</value>
            </setting>
        </Toolbox.My.MySettings>
    </userSettings>
</configuration>